<!DOCTYPE html>
<html>
<head>
  <title>TodoLibri</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header"><h1>Todo-Libri</h1></header>
  <%= yield %>
</body>
</html>
